@import '../../assets/sass/libs/_settings.scss';
@import '../../assets/sass/libs/mixins';

.quote-slider{
	position: relative;
	margin: 80px 0;

	.slides{
		@include clearfix;
		margin:0;
		padding-left:0;
		list-style: none;
	}

	blockquote{
		margin:0;

		p{
			@include em(36);
			color: white;
			font-weight: 300;
			line-height: normal;
		}

		cite{
			display: block;
			color: $accent-color;
			@include em(24);
			font-weight: 100;
			font-style: normal;
		}
	}

	.flex-direction-nav{
		@include clearfix;
		list-style: none;
		padding-left: 0;

		li{
			float: left;
			margin-right: 2px;
		}

		a{
			display: block;
			width: 33px;
			height: 33px;
			color: white;
			background-color: #353535;
			line-height: 32px;
			text-align: center;
			transition: .3s ease;

			&:hover{
				background-color: $accent-color;
			}
		}
	}
}