
  .edu{
    border-bottom: 4px solid #c14a27;
    width: 17% !important;
  }

  .info {
    font: 15px/24px 'librebaskerville-regular', sans-serif;
    color: #6E7881;
    margin-bottom: 10px;
    margin-top: 5px;
  }

