@mixin block-list($link-selector: 'a', $border-color: #c14a27, $border-width: 2px, $item-padding: 0.75em) {
    // border-top: $border-width solid $border-color;
    list-style: none;
    padding-left: 0;
    > li {
      border-bottom: $border-width solid $border-color;
      list-style-image: none;
      list-style-type: none;
      margin-left: 0;
      padding: $item-padding;
      #{$link-selector} {
        display: block;
        padding: $item-padding;
        margin: -$item-padding;
      }
    }
  }

  // Standard usage
  .block-list {
    @include block-list;
  }

  .company{
    outline: 0;
    text-decoration: none;
    color: #848484;

  }
.company:hover{
  color: #c14a27;
}
  .info {
    font: 15px/24px 'librebaskerville-regular', sans-serif;
    color: #6E7881;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  // Using a custom selector for a block link
  .block-list-alt {
    @include block-list('.block-list__link');
  }
